@import 'variables';
@import 'mixins';

section.cards {
  @include main-grid(6rem 2rem);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  button {
    @include button(0.5rem 1rem);
  }
}

section.large-cards {
  @include main-grid(2rem);
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-top: 6rem;
  div {
    background-color: $white;
    p {
      color: $gray;
      padding: 0 1rem;
    }
  }
  button {
    @include button(1rem 1.5rem);
    margin: 3rem 0 1rem 1rem;
  }
}
