@import 'variables';
@import 'mixins';

section.cards {
  @include main-grid(6rem 2rem);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  button {
    @include button(0.5rem 1rem);
  }
}

section.large-cards {
  @include main-grid(2rem);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6rem;
  div {
    background-color: $white;
    p {
      color: $gray;
      padding: 0 1rem;
    }
  }
  button {
    @include button(1rem 1.5rem);
    margin: 3rem 0 1rem 1rem;
  }
}

footer {
  @include center;
  section {
    padding-left: 2rem;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    div:not(.social) {
      margin: 2rem 8rem 8rem 0rem;
      display: flex;
      flex-direction: column;
      span:not(:first-of-type) {
        margin-top: 0.5rem;
      }
      div.social {
        img {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  section.large-cards {
    grid-template-columns: 1fr;
  }
}
