@import 'variables';
@import 'mixins';
@import 'typography';
@import 'components';

body {
  margin: 0;
  background-color: $black;
  max-width: 100vw;
}

header {
  @include center('column');
  background-color: $header;
  img.nav {
    @include absolute(1rem);
    cursor: pointer;
  }
}

main {
  padding: 6rem 2rem;
  @include center('column');
}
